@import "layout";

/* 
Media Queries
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
*/

/* Blocks */
.block {
  width: 100%;
  padding: 2rem;

  &__title,
  &__description {
    text-align: center;
    margin: 0 auto;
  }

  &__title {
    color: #fff;
    font-weight: 400;
  }

  &__description {
    margin-top: 1rem;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5;

    @media screen and (min-width: 768px) {
      max-width: 50ch;
    }
  }
}

/* Buttons */
.btn {
  padding: 1rem 2rem;
  text-align: center;
  border: 0;
  outline: 0;
  background-color: transparent;
  transition: background-color 0.3s;

  &--primary {
    color: #fff;
    background-color: $color-primary;

    @media (hover: hover) {
      &:hover {
        cursor: pointer;
        background-color: lighten($color: $color-primary, $amount: 10);
      }
    }

    &:active {
      background-color: lighten($color: $color-primary, $amount: 10);
    }
  }

  &--outline {
    color: #fff;
    background-color: transparent;
    border: 1px solid currentColor;

    @media (hover: hover) {
      &:hover {
        cursor: pointer;
        color: #000;
        background-color: #fff;
      }
    }

    &:active {
      color: #000;
      background-color: #fff;
    }
  }
}
