<section class="block contents-block">
    <h2 class="block__title">Contents</h2>
    <p class="block__description">
        We focus on ergonomics and meeting you where you work. It's only a keystroke away.
    </p>
    <div class="grid grid--c2">
        <div class="card">
            <h3 class="card__title">Work</h3>
            <p class="card__description">
                Ever wondered if you're too reliant on a client for work? Slate helps you identify.
            </p>
            <a href="#" class="btn btn--primary">Sign Up</a>
            <img class="card__image" src="/assets/images/macbook_pro_768w.png"
                srcset="/assets/images/macbook_pro_320w.png 320w, /assets/images/macbook_pro_768w.png 532w, /assets/images/macbook_pro_1064w.png 1064w"
                alt="Macbook Pro">
        </div>

        <div class="card">
            <h3 class="card__title">Design with real data</h3>
            <p class="card__description">
                Ever wondered if you're too reliant on a client for work? Slate helps you identify .
            </p>
            <a href="#" class="btn btn--primary">Sign Up</a>
            <img class="card__image" src="/assets/images/boards_notifications_532w.png"
                srcset="/assets/images/boards_notifications_266w.png 266w, /assets/images/boards_notifications_532w.png 532w, /assets/images/boards_notifications_1064w.png 1064w"
                alt="Notifications Board">
        </div>
    </div>
</section>