<section class="block features-block">
    <h2 class="block__title">FEATURES</h2>
    <p class="block__description">
        Most calendars are designed for teams. Slate is designed for
        freelancers who want a simple way to plan their schedule.
    </p>
    <div class="grid grid--c2">
        <picture>
            <source type="image/png"
                srcset="/assets/images/features_315w.png 315w, /assets/images/features_631w.png 631w">
            <img class="features-block__image" src="/assets/images/features_631w.png" loading="lazy" alt="">
        </picture>
        <div class="column">
            <ul class="list media-list">
                <li class="media-item">
                    <div class="media-item__header">
                        <svg class="media-item__icon">
                            <use href="/assets/icon/icon-sprite.svg#spoon_and_fork"></use>
                        </svg>
                        <h3 class="media-item__title">A single source of truth</h3>
                    </div>
                    <p class="media-item__description">
                        When you add work to your Slate calendar we automatically calculate useful insights
                    </p>
                </li>
                <li class="media-item">
                    <div class="media-item__header">
                        <svg class="media-item__icon">
                            <use href="/assets/icon/icon-sprite.svg#alien"></use>
                        </svg>
                        <h3 class="media-item__title">Intuitive interface</h3>
                    </div>
                    <p class="media-item__description">
                        When you add work to your Slate calendar we automatically calculate useful insights
                    </p>
                </li>
                <li class="media-item">
                    <div class="media-item__header">
                        <svg class="media-item__icon">
                            <use href="/assets/icon/icon-sprite.svg#infinite"></use>
                        </svg>
                        <h3 class="media-item__title">Or with rules</h3>
                    </div>
                    <p class="media-item__description">
                        When you add work to your Slate calendar we automatically calculate useful insights
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>