<footer class="app-footer">
    <div class="grid grid--c2 app-footer__content">
        <nav class="app-footer__nav grid grid--c3">
            <div class="column nav-column">
                <h3 class="nav-column__title">Fingertipe</h3>
                <ul class="list nav-list">
                    <li class="list__item nav-item"><a href="#">Home</a></li>
                    <li class="list__item nav-item"><a href="#">Examples</a></li>
                    <li class="list__item nav-item"><a href="#">Pricing</a></li>
                    <li class="list__item nav-item"><a href="#">Updates</a></li>
                </ul>
            </div>
            <div class="column nav-column">
                <h3 class="nav-column__title">Resources</h3>
                <ul class="list nav-list">
                    <li class="list__item nav-item"><a href="#">Home</a></li>
                    <li class="list__item nav-item"><a href="#">Examples</a></li>
                    <li class="list__item nav-item"><a href="#">Pricing</a></li>
                    <li class="list__item nav-item"><a href="#">Updates</a></li>
                </ul>
            </div>
            <div class="column nav-column">
                <h3 class="nav-column__title">About</h3>
                <ul class="list nav-list">
                    <li class="list__item nav-item"><a href="#">Home</a></li>
                    <li class="list__item nav-item"><a href="#">Examples</a></li>
                    <li class="list__item nav-item"><a href="#">Pricing</a></li>
                    <li class="list__item nav-item"><a href="#">Updates</a></li>
                </ul>
            </div>
        </nav>
        <div class="app-footer__contact-info">
            <ul class="list">
                <li class="list__item">
                    <svg class="icon">
                        <use href="/assets/icon/icon-sprite.svg#map"></use>
                    </svg>
                    <span>7480 Mockingbird Hill undefined</span>
                </li>
                <li class="list__item">
                    <svg class="icon">
                        <use href="/assets/icon/icon-sprite.svg#phone"></use>
                    </svg>
                    <span>(239) 555-0108</span>
                </li>
                <li class="list__item">
                    <div class="social-media-contact-info">
                        <a class="link" href="#">
                            <svg class="icon">
                                <use href="/assets/icon/icon-sprite.svg#twitter"></use>
                            </svg>
                        </a>
                        <a class="link" href="#">
                            <svg class="icon">
                                <use href="/assets/icon/icon-sprite.svg#facebook"></use>
                            </svg>
                        </a>
                        <a class="link" href="#">
                            <svg class="icon">
                                <use href="/assets/icon/icon-sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>