<section class="block gallery-block">
    <h2 class="block__title">Gallery</h2>
    <p class="block__description">
        We focus on ergonomics and meeting you where you work. It's only a keystroke away.
    </p>
    <ul class="list row row--wrap row--jcc gallery-block__list">
        <li class="list__item">
            <img src="/assets/images/canon_camera_640w.jpg" alt="Canon Camera">
        </li>
        <li class="list__item">
            <img src="/assets/images/black_ipad_beside_green_iphone_5c_640w.jpg"
                alt="Black Ipad Beside Green Iphone 5c">
        </li>
        <li class="list__item">
            <img src="/assets/images/closeup_photo_of_dslr_camera_640w.jpg" alt="Closeup Photo of Dslr Camera">
        </li>
        <li class="list__item">
            <img src="/assets/images/gray_laptop_640w.jpg" alt="Gray Laptop">
        </li>
        <li class="list__item">
            <img src="/assets/images/women_using_laptop_640w.jpg" alt="Women Using Laptop">
        </li>
        <li class="list__item">
            <img src="/assets/images/silver_imac_640w.jpg" alt="Silver Imac">
        </li>
        <li class="list__item">
            <img src="/assets/images/silver_laptop_and_white_cup_on_table_640w.jpg"
                alt="Silver laptop and white cup on table">
        </li>
        <!-- To Fix Aspect Ratio Of Images At Last Line -->
        <li class="list__item"></li>
    </ul>
    <a href="#" class="btn btn--outline">See more</a>
</section>