<header id="app-header" class="app-header">
    <div class="app-header__content">
        <a class="app-header__logo" href="/">
            <img class="app-header__logo-img" src="/assets/logo/logo.svg" alt="Figmaland Logo">
        </a>
        <nav id="navigation-menu" class="nav">
            <ul class="list list--inline nav__list">
                <li class="list__item nav__item"><a href="#Home">Home</a></li>
                <li class="list__item nav__item"><a href="#Product">Product</a></li>
                <li class="list__item nav__item"><a href="#About">About</a></li>
                <li class="list__item nav__item"><a href="#Contact">Contact</a></li>
            </ul>
        </nav>
        <a href="#" class="btn btn--outline login-btn">Login</a>
        <svg id="nav-toggler" class="nav-toggler">
            <use href="/assets/icon/icon-sprite.svg#menu"></use>
        </svg>
    </div>
</header>