<section class="block hero-block">
    <h1 class="block__title">Work at the speed of thought</h1>
    <p class="block__description">
        Most calendars are designed for teams. Slate is designed for
        freelancers who want a simple way to plan their schedule.
    </p>
    <div class="btns-container">
        <a href="#" class="btn btn--primary">Try For Free</a>
        <a href="#" class="btn btn--outline">Learn More</a>
    </div>
    <div class="hero-block__image-container">
        <picture>
            <source type="image/png" srcset="/assets/images/screens_388w.png 388w,
            /assets/images/screens_776w.png 776w, /assets/images/screens_1552w.png 1552w">
            <img src="/assets/images/screens_776w.png" alt="">
        </picture>
    </div>
</section>