<section class="block partners-block">
    <h2 class="block__title">Partners</h2>
    <p class="block__description">
        We focus on ergonomics and meeting you where you work. It's only a keystroke away.
    </p>
    <ul class="list partners-block__list">
        <li class="list__item">
            <a href="#">
                <img src="/assets/icon/apple_app_store.svg" alt="Apple App Store">
            </a>
        </li>
        <li class="list__item">
            <a href="#">
                <img src="/assets/icon/apiary.svg" alt="Apiary">
            </a>
        </li>
        <li class="list__item">
            <a href="#">
                <img src="/assets/icon/android.svg" alt="Android">
            </a>
        </li>
        <li class="list__item">
            <a href="#">
                <img src="/assets/icon/basecamp.svg" alt="Basecamp">
            </a>
        </li>
        <li class="list__item">
            <a href="#">
                <img src="/assets/icon/airbnb.svg" alt="Airbnb">
            </a>
        </li>
        <li class="list__item">
            <a href="#">
                <img src="/assets/icon/ibm.svg" alt="IBM">
            </a>
        </li>
    </ul>
    <a href="#" class="btn btn--outline">All Partners</a>
</section>