<section class="block testimonials-block">
    <h2 class="block__title">Testimonials</h2>
    <ul class="list grid grid--c2 testimonials-block__list">
        <li class="list__item testimonial">
            <div class="testimonial__header">
                <a href="#" class="testimonial__user-avatar">
                    <img class="testimonial__user-img" src="/assets/images/team_member_1.png" alt="">
                </a>
                <div class="testimonial__user">
                    <a href="#">
                        <h3 class="testimonial__user-name">Ralph Fisher</h3>
                    </a>
                    <p class="testimonial__user-job">Designer</p>
                </div>
            </div>
            <div class="testimonial__body">
                <p class="testimonial__text">
                    Slate helps you see how many more days you need to work to reach your financial goal for the
                    month and year. Slate helps you see how many more days you need to work to reach your financial
                    goal for the month and year.
                </p>
            </div>
        </li>
        <li class="list__item testimonial">
            <div class="testimonial__header">
                <a href="#" class="testimonial__user-avatar">
                    <img class="testimonial__user-img" src="/assets/images/team_member_4.png" alt="">
                </a>
                <div class="testimonial__user">
                    <a href="#">
                        <h3 class="testimonial__user-name">Jorge Murphyr</h3>
                    </a>
                    <p class="testimonial__user-job">Designer</p>
                </div>
            </div>
            <div class="testimonial__body">
                <p class="testimonial__text">
                    Slate helps you see how many more days you need to work to reach your financial goal for the
                    month and year. Slate helps you see how many more days you need to work to reach your financial
                    goal for the month and year.
                </p>
            </div>
        </li>
        <li class="list__item testimonial">
            <div class="testimonial__header">
                <a href="#" class="testimonial__user-avatar">
                    <img class="testimonial__user-img" src="/assets/images/team_member_3.png" alt="">
                </a>
                <div class="testimonial__user">
                    <a href="#">
                        <h3 class="testimonial__user-name">Francisco Lane</h3>
                    </a>
                    <p class="testimonial__user-job">Designer</p>
                </div>
            </div>
            <div class="testimonial__body">
                <p class="testimonial__text">
                    Slate helps you see how many more days you need to work to reach your financial goal for the
                    month and year. Slate helps you see how many more days you need to work to reach your financial
                    goal for the month and year.
                </p>
            </div>
        </li>
        <li class="list__item testimonial">
            <div class="testimonial__header">
                <a href="#" class="testimonial__user-avatar">
                    <img class="testimonial__user-img" src="/assets/images/team_member_2.jpg" alt="">
                </a>
                <div class="testimonial__user">
                    <a href="#">
                        <h3 class="testimonial__user-name">Claire Bell</h3>
                    </a>
                    <p class="testimonial__user-job">Designer</p>
                </div>
            </div>
            <div class="testimonial__body">
                <p class="testimonial__text">
                    Slate helps you see how many more days you need to work to reach your financial goal for the
                    month and year. Slate helps you see how many more days you need to work to reach your financial
                    goal for the month and year.
                </p>
            </div>
        </li>
    </ul>
</section>